<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
    <div id="main_heading" class="red makeBigger">
        <h1>Colton's Homepage</h1>
    </div>

    <div id="main_content" class="none">
        <p>
            <span class="red makeBigger">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Est pellentesque elit ullamcorper dignissim cras. Arcu
            non sodales neque sodales ut etiam. Leo in vitae turpis massa sed elementum. Felis bibendum ut tristique et
            egestas quis ipsum suspendisse ultrices. Condimentum mattis pellentesque id nibh tortor id aliquet lectus.
            Nisl suscipit adipiscing bibendum est. Malesuada nunc vel risus commodo. Morbi enim nunc faucibus a
            pellentesque. In nibh mauris cursus mattis molestie. Pellentesque pulvinar pellentesque habitant morbi
            tristique. Senectus et netus et malesuada fames. Diam vel quam elementum pulvinar etiam non. Justo donec
            enim diam vulputate ut pharetra sit amet. Sit amet tellus cras adipiscing enim. Laoreet id donec ultrices
            tincidunt arcu non. Augue eget arcu dictum varius. Velit aliquet sagittis id consectetur purus ut faucibus
            pulvinar elementum.
        </p>
        <p>
            At consectetur lorem donec massa sapien faucibus et molestie. Ut etiam sit amet nisl purus in mollis.
            Viverra ipsum nunc aliquet bibendum enim facilisis. Dictum at tempor commodo ullamcorper. Ut enim blandit
            volutpat maecenas volutpat blandit. Eget aliquet nibh praesent tristique magna. Pellentesque diam volutpat
            commodo sed. Adipiscing diam donec adipiscing tristique risus. Malesuada fames ac turpis egestas. Nunc
            pulvinar sapien et ligula ullamcorper malesuada proin libero. Ipsum suspendisse ultrices gravida dictum
            fusce ut placerat orci nulla. Lectus sit amet est placerat in egestas erat. Pharetra massa massa ultricies
            mi quis hendrerit dolor. Cursus metus aliquam eleifend mi. Feugiat in fermentum posuere urna nec. Turpis in
            eu mi bibendum. Et tortor at risus viverra. Urna nec tincidunt praesent semper feugiat. Purus viverra
            accumsan in nisl.
        </p>
            Id leo in vitae turpis. Curabitur vitae nunc sed velit dignissim sodales. Auctor augue mauris augue neque
            gravida. Aliquet porttitor lacus luctus accumsan tortor. Orci nulla pellentesque dignissim enim sit amet
            venenatis urna cursus. Ut ornare lectus sit amet est. Id venenatis a condimentum vitae sapien pellentesque
            habitant. Libero enim sed faucibus turpis in eu mi. Ut morbi tincidunt augue interdum velit. Urna id
            volutpat lacus laoreet. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus et. Egestas
            sed sed risus pretium quam vulputate. Nullam eget felis eget nunc lobortis. Pharetra massa massa ultricies
            mi quis hendrerit dolor.
        <p>
            Ullamcorper dignissim cras tincidunt lobortis. Sagittis vitae et leo duis ut diam. Nulla aliquet porttitor
            lacus luctus accumsan tortor. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Lobortis
            scelerisque fermentum dui faucibus in ornare quam. Id porta nibh venenatis cras sed felis eget velit
            aliquet. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Pretium lectus quam id
            leo. Massa eget egestas purus viverra accumsan in nisl nisi scelerisque. Fusce id velit ut tortor pretium
            viverra. Turpis egestas sed tempus urna. Ut venenatis tellus in metus vulputate. Bibendum ut tristique et
            egestas quis. Pretium viverra suspendisse potenti nullam ac tortor vitae purus. Tortor at risus viverra
            adipiscing at in tellus integer feugiat.
        </p>
        <p>
            Aliquam sem et tortor consequat id porta. Rhoncus dolor purus non enim praesent elementum facilisis leo.
            Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. A iaculis at erat
            pellentesque. Semper eget duis at tellus at. Tortor id aliquet lectus proin nibh nisl condimentum id
            venenatis. Morbi tristique senectus et netus et malesuada. Sed euismod nisi porta lorem mollis aliquam ut
            porttitor. Diam phasellus vestibulum lorem sed. Dolor sit amet consectetur adipiscing elit ut. Sit amet
            aliquam id diam. Sed euismod nisi porta lorem mollis aliquam ut porttitor. Id cursus metus aliquam eleifend
            mi in nulla posuere. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Aliquet enim tortor
            at auctor urna. Nec feugiat nisl pretium fusce id velit. Malesuada pellentesque elit eget gravida cum
            sociis. Mattis rhoncus urna neque viverra justo nec ultrices dui sapien. Vitae purus faucibus ornare
            suspendisse. Tempus imperdiet nulla malesuada pellentesque elit eget.
        </p>

    </div>



<p></p>
</body>
</html>
